
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @{
            var userData = User.GetUserData();
            if (userData != null)
            {
        <div class="user-panel">         
            <div class="pull-left image">
                <img src="~/images/employees/@userData.Photo" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@userData.DisplayName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
            }
        }
      @*   <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form --> *@
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lí dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Supplier"><i class="fa fa-circle-o"></i> Nhà cung cấp</a></li>
                    <li><a href="~/Customer"><i class="fa fa-circle-o"></i> Khách hàng</a></li>
                    <li><a href="~/Shipper"><i class="fa fa-circle-o"></i> Người giao hàng</a></li>
                    <li><a href="~/Employee"><i class="fa fa-circle-o"></i> Nhân viên</a></li>
                    <li><a href="~/Category"><i class="fa fa-circle-o"></i> Loại hàng</a></li>
                    <li><a href="~/Product"><i class="fa fa-circle-o"></i> Mặt hàng</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản lí bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order/Create"><i class="fa fa-circle-o"></i> Lập đơn hàng</a></li>
                    <li><a href="~/Order"><i class="fa fa-circle-o"></i> Danh sách đơn hàng</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
